/* Merubah bentuk ScrolleBar */
::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-thumb{
  background:#d69461;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(#d69461,#fcc093) ;
}
/* End Ubah bentuk ScrollBar */



body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

/* Navbar */
#navbar {
  font-size: 13px;
  font-weight: 500;
}

.logo {
  max-width: 30%;
  filter: drop-shadow(2px 1px 2px #585858);
}

.bg-button-nav {
  background-color: #faf1e6;
  font-size: 13px;
  font-weight: 500;
}

.bt {
  color: #fff;
}

.bt:link {
  text-decoration: none;
}

.bt:hover {
  color: #faf1e6;
  text-decoration: underline;
}

.bt.scrolled {
  color: black;
  transition: 0.5s ease;
}

#navbar.scrolled {
  background-color: #fff;
  transition: 0.5s ease;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nav-tomb.scrolled {
  background-color: #000;
}
/* ./Navbar */

/* Hero */
#hero {
  background-image: url('../img/hero/bg-hero.jpg');
  background-size: cover;
  background-position: 0 45%;
  -webkit-backdrop-filter: brightness(0.3);
  backdrop-filter: brightness(0.1);
}

#hero-content {
  -webkit-backdrop-filter: brightness(0.1);
  backdrop-filter: brightness(0.9);
  padding: 22vh 0;
}

.bg-button-hero {
  background-color: #faf1e6;
  border-radius: 50px 50px 0 50px;
  font-size: 13px;
}

.bg-button-hero:hover {
  background-color: #d69461;
}

.fitur-tittle {
  font-size: 12px;
}

@media only screen and (max-width: 991px) {
  #container-fitur {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 450px) {
  .fitur-judul {
    font-size: 16px;
  }
  .fitur-tittle {
    font-size: 10px;
  }
}
/* ./Hero */

/* Fitur */
.fitur-hover:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
/* ./Fitur */

/* Tamplate */
#tamplate {
  background-color: #faf1e6;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.img {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 7px;
}

.btn-tamplate {
  color: #000;
  background-color: #fff;
  font-size: 13px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #d69461;
}
/* ./Tamplate */

/* Harga */
.harga-list {
  background-color: #faf1e6;
  border-radius: 10px;
}

.btn-harga {
  font-size: 13px;
  background-color: #fff;
}
/* ./Harga */

/* Review */
#review {
  background-color: #faf1e6;
}

.review {
  background-color: #fff;
  padding: 50px 0 150px 0;
}

.review-2 {
  margin-top: -150px;
}

.review-3 {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

/* ./Review */

/* Proses */
.proses-1 {
  border-radius: 7px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
/* ./Proses */

/* Blog */
#blog {
  background-color: #faf1e6;
}

.link-blog {
  color: #d69461;
}

.link-blog:link {
  text-decoration: none;
}

.link-blog:hover {
  color: #000;
}
/* ./Blog */

/* Contact */
.form-contact {
  background-color: #faf1e6;
  border: none;
  border-radius: 7px;
}

.form-contact::placeholder {
  color: black;
  font-size: 12px;
}
/* ./Contact */

/* Footer */
#footer {
  background-color: #faf1e6;
}
/* ./Footer */

/* Modal */
.modal {
  backdrop-filter: blur(5px) saturate(100%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.btn-modal {
  background-color: #fff5da;
  color: #000;
}

.link-login {
  color: #000;
}
/* ./Modal */

/* PEMPABAYARAN */
/* Navbar */
.bt-pembayaran {
  color: #000;
}

.bt-pembayaran:link {
  text-decoration: none;
}

.bt-pembayaran:hover {
  color: #d3c7b8;
  text-decoration: underline;
}
/* ./Navbar */

/* Tamplate & Fitur */
.img-pembayaran {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 7px;
}

.rounded-pembayaran {
  border-radius: 25px;
}

@media only screen and (max-width: 420px) {
  .margin-pembayaran {
    padding: 20px !important;
    margin: 0 !important;
  }
}
/* ./Tamplate & Fitur */
/* ./PEMBAYARAN */

/* FORM PREMIUM */
.btn-form-pre {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
}

.form-isi {
  border: none;
  border-radius: 7px;
}
/* ./FORM PREMIUM */

/* BLOG */
.img-blog {
  background-image: url('../img/hero/bg-hero.jpg');
  height: 300px;
  background-size: contain;
}
/* ./BLOG */
